/*It is intended to style this page with a tech theme. The idea is a dark/black background of sorts with white text*/

body {
    background-image: url("../images/matrix_background.jpg");
}

.container {
    text-align: center;
}

#mainEvent {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: Consolas;
    height: auto;
    border: none;
}

form {
    color: white;
}

#triviaTitle {
    text-align: center;
    font-size: 450%;
    padding-bottom: 80px;
}

#startGame {
    width: 20%;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
}

label {
    font-size: 150%;
}


